<nb-card>
  <nb-card-header class="bg-primary text-white">ICV Utilization
  </nb-card-header>
  <nb-card-body>
    <toaster-container></toaster-container>
    <!--
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="fromControl">From Date
          </label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
            <mat-form-field class="form-control">
              <input matInput [matDatepicker]="fromControl" [(ngModel)]="fromDate" placeholder="(MM/DD/YYYY)">
              <mat-datepicker-toggle matSuffix [for]="fromControl"></mat-datepicker-toggle>
              <mat-datepicker #fromControl disabled="false"></mat-datepicker>

            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="ToControl">To Date
          </label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
            <mat-form-field class="form-control">
              <input matInput [matDatepicker]="ToControl" [(ngModel)]="toDate" placeholder="(MM/DD/YYYY)">
              <mat-datepicker-toggle matSuffix [for]="ToControl"></mat-datepicker-toggle>
              <mat-datepicker #ToControl disabled="false"></mat-datepicker>

            </mat-form-field>
          </div>
        </div>

      </div>
      <div class="col-md-4">
          <div class="float-left bottom-align-text">
            <br/>
            <br/>
            <button class="btn btn-search" id="search" (click)="onSearch()">
              <i class="fa fa-refresh"></i> &nbsp; Refresh</button>
          </div>
        </div>
    </div>
  -->
    <span class="float-left">
      <b> Row Count: {{tablesource.count()}}</b>
    </span>
    <span class="float-right">
      <export-table [source]="tablesource" [settings]="settings"></export-table>
    </span>
    <ng2-smart-table [settings]="settings" [source]="tablesource">
    </ng2-smart-table>

  </nb-card-body>
</nb-card>
<div *ngIf="detailTable">
  <nb-card>
    <nb-card-header class="bg-primary text-white">{{website}}
       <span class="float-right">{{ReportType}}</span>
    </nb-card-header>
    <nb-card-body>
      <span class="float-left">
        <b> Row Count: {{detailsource.count()}}</b>
      </span>
      <span class="float-right">
        <export-table [source]="detailsource" [settings]="settings"></export-table>
      </span>
      <ng2-smart-table [settings]="detailsettings" [source]="detailsource">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

</div>