<nb-card>
  <nb-card-body>
    <toaster-container></toaster-container>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="website">Website &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
            <mat-checkbox (change)="onSrcWebAll($event);">ALL</mat-checkbox>
          </label>
          <nb-card size="xsmall">
            <nb-card-body>
              <div class="input-group">
                <mat-selection-list #srcWebsite [(ngModel)]="srcwebsites">
                  <mat-list-option *ngFor="let s of websites" [value]="s.WEBSITES">
                    {{s.WEBSITES}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </nb-card-body>
          </nb-card>
        </div>

      </div>
      <div class="col-md-6">

        <div class="form-group">
          <label for="website">Website &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
            <mat-checkbox (change)="onTgtWebAll($event);">ALL</mat-checkbox>
          </label>
          <nb-card size="xsmall">
            <nb-card-body>
              <div class="input-group">
                <mat-selection-list #tgtWebsite [(ngModel)]="tgtwebsites">
                  <mat-list-option *ngFor="let s of websites" [value]="s.WEBSITES" color="primary">
                    {{s.WEBSITES}}
                  </mat-list-option>
                </mat-selection-list>
              </div>

            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="website">Source &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
            <mat-checkbox (change)="onSrcSrcAll($event);">ALL</mat-checkbox>
          </label>
          <nb-card size="xsmall">
            <nb-card-body>

              <div class="input-group">
                <mat-selection-list #srcSource [(ngModel)]="srcSources">
                  <mat-list-option *ngFor="let s of sources.availableOptions" [value]="s.id">
                    {{s.name}}
                  </mat-list-option>
                </mat-selection-list>
              </div>

            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="website">Source &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
            <mat-checkbox (change)="onTgtSrcAll($event);">ALL</mat-checkbox>
          </label>
          <nb-card size="xsmall">
            <nb-card-body>

              <div class="input-group">
                <mat-selection-list #tgtSource [(ngModel)]="tgtSources">
                  <mat-list-option *ngFor="let s of sources.availableOptions" [value]="s.id">
                    {{s.name}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="display">Display
          </label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-tasks"></i>
            </span>
            <select class="form-control" id="display" (change)="updateRows();" [(ngModel)]="displays.selectedOption.id">
              <option #document *ngFor="let s of displays.availableOptions" [ngValue]="s.id">{{ s.name }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="showDisavow">Show Disavow Domains
          </label>
          <div class="input-group">
  
            <mat-checkbox class= "float-right" id="showDisavow" name="showDisavow" (change)="onShowDisvow($event);"></mat-checkbox>          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="float-right bottom-align-text">
          <br/>
          <br/>
          <button class="btn btn-search" id="search" (click)="onReset()">
            <i class="fa fa-refresh"></i> &nbsp; Reset</button> &nbsp;
          <button class="btn btn-search" id="search" (click)="onSearch()">
            <i class="fa fa-refresh"></i> &nbsp; Compare</button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<div *ngIf="detailTable">
  <nb-card>
    <nb-card-header class="bg-primary text-white">Site Comparison
    </nb-card-header>
    <nb-card-body>
      <toaster-container></toaster-container>

      <span class="float-left">
        <b> Row Count: {{tablesource.count()}}</b>
      </span>
      <span class="float-right">
        <export-table [source]="tablesource" [settings]="settings"></export-table>
      </span>
      <ng2-smart-table [settings]="settings" [source]="tablesource">
      </ng2-smart-table>

    </nb-card-body>
  </nb-card>
</div>